/* CandidateStats.css */

.candidate-stats-container {
  text-align: center;
  border: 2px solid grey;
  border-radius: 10px;
  margin-bottom: 5vh;
  width: 80vw;
  height: 33vh;
  transform: translateX(10%);
  background-color: #fff;
  box-shadow: 2px 2px 4px 4px lightgrey;
}

.candidate-stats-title {
  color: #fff;
  background-color:#007bff;
  font-size: 24px;
  margin-bottom: 20px;
  border:2px solid grey;
}

.candidate-stats-item {
  display: inline-block;
  margin-right: 20px;
}

.candidate-stats-progressbar {
  width: 20px; /* Adjust the width of the progress bar */
  margin: auto;
}

.candidate-stats-text {
  font-size: 14px;
  color: #333;
}

/* CandidateStats.css */

.circular-progressbar {
  position: relative;
  width: 100px; /* Adjust the width of the circular progress bar */
}

.circular-progressbar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.candidate-stats-item {
  display: inline-block;
  margin-right: 20px;
}

.candidate-stats-text {
  font-size: 14px;
  color: #333;
}
