/* ProfilePage.css */
.nJSp {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f3f5;
  border-radius: 20px;
  border:1px solid lightgrey;
  margin-top:10px;
}

.qWFr {
  text-align: center;
  margin-bottom: 20px;
  border-radius:7px;
  background-color:#5da0e4;
}

.uYHj {
  display: flex;
  align-items: center; /* Center align profile picture and details */
}

.yTRd {
  flex-grow: 1;
}

.yTRd h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.sDLk {
   border:2px solid grey;
}

.sDLk img {
  object-fit: cover;
}

.tGFd {
  padding-top: 10px;
}

.kJHg {
  margin-top: 40px; /* Increase top margin for separation */
}

.iUyT {
  margin-top: 10px;
}

.rTqE {
  margin-bottom: 10px;
}

.pOxR {
  margin-bottom: 5px;
  font-weight: bold;
}

.wQjH {
  position: relative;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
}

.cXzM {
  height: 100%;
  border-radius: 10px;
  transition: width 0.5s ease;
}

.bKmN {
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 20px;
  font-size: 14px;
  color: #333;
}

/* Different gradients for each subject */
.rTqE:nth-child(1) .cXzM {
  background: linear-gradient(to right, #64b5f6, #1976d2); /* Blue gradient for vmMN */
}

.rTqE:nth-child(2) .cXzM {
  background: linear-gradient(to right, #f48fb1, #ad1457); /* Pink gradient for bksQ */
}

.rTqE:nth-child(3) .cXzM {
  background: linear-gradient(to right, #aed581, #558b2f); /* Green gradient for ptRT */
}

.rTqE:nth-child(4) .cXzM {
  background: linear-gradient(to right, #aed581, #558b2f); /* Green gradient for jkLW */
}
