

.sh-helper-container {
    background-color: #FF4D4D; /* Red color */
    color: #FFF; /* White color for text */
    padding: 40px 20px;
    text-align: center;
  }
  
  .sh-helper-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sh-helper-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .sh-helper-quote {
    font-style: italic;
    margin-bottom: 80px;
  }
  
  .sh-helper-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .sh-helper-option {
    flex: 0 0 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #FFF;
  }
  
  .sh-helper-option h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color:black;
  }
  
  .sh-helper-option p {
    margin-bottom: 20px;
  }
  
  .sh-helper-button {
    background-color: #FF4D4D;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sh-helper-button:hover {
    background-color: #FF6666; /* Lighter red color on hover */
  }
  